# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.imvp/  # Add your specific conda env if applicable

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Streamlit
.streamlit/config.toml
.streamlit/secrets.toml
.streamlit/*.json
.streamlit/cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm
.idea/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pylint
.pylint.d/

# Bandit
.bandit/

# Pytype
.pytype/

# Profiling data
*.prof

# Misc
*.swp
*.swo

# Ignore everything in the results folder
results/*

# But don't ignore the folder itself